/* a {
    text-decoration: none !important;
    color: white !important;
}

.bg-none > li{
    background-color: transparent !important;
}

.room{
    color: white;
    height: 300px !important;
    width: auto;
    overflow: auto;
    background-image: url(https://t4.ftcdn.net/jpg/06/32/19/51/360_F_632195151_xTnjr4xGYG3oGyHiSWeCLLdWTKIVCpfY.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.3) !important;
    text-align: center;
}

.table{
    text-align: center;
}

.intro_nav{
    background-image: url("https://t4.ftcdn.net/jpg/08/97/43/03/360_F_897430367_pGklBLvQPXGuPkkD3e0TI9BXairdIgXM.jpg");
    background-color:lightgray;
    height: 40px;
    
}

.image > img{
    border-radius: 100px;
    

}
.profile{
    border-left: 1px solid black;
}

.detail_nav{
    height: 160px;
    background: cover;
    width: 100%;
    }
    
    .navbar{
        background-color:linear-gradient(to right bottom, #212428, #24262a);
        }
        .imglogo{
            margin-top: -7px;
            }
            .container{
                height: 150px;
                background-size: cover;
                width: 100%;


   }   */
.left_sidebar_icon {
    background-color: linear-gradient(to right bottom, #212428, #24262a);
    display: inline-block;
    padding: 8px 14px;
    border-radius: 6px;
    margin: 5px;
    box-shadow: 0px 0px 9px rgba(245, 245, 245, 0.3);
    transition: all 0.3s linear;
}

.left_sidebar_icon:hover {
    transform: translateY(-5px);
    color: white !important;
}